rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Listings
    match /events/{event} {
    	allow read;
      allow write;
      allow create;
    	allow delete: if resource.data.userRef == request.auth.uid;
    }
   
    // Users
    match /users/{user} {
    	allow read;
      allow write;
    	allow create;
    	allow update: if request.auth.uid == user
    }
  }
}